@import './../../../../styles/media-queries.scss';
@import './../../../../styles/variables';
section {
  background-color: var(--secondary-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 3.125rem;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.25rem;

  li:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.contacts-info-icon {
  vertical-align: middle;
  fill: var(--primary-color);
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  border-radius: 50%;
  fill: var(--social-icon-text-color);
  background: var(--social-icon-color);
  border-color: var(--social-icon-color);
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--social-icon-hover-color);
    border-color: var(--social-icon-hover-color);
  }
}
.contacts-info-icon-desc {
  padding-left: 0.938rem;
}

form {
  display: flex;
  flex-direction: column;
}

.contacts-form-row {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-family: inherit;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
  background-color: var(--body-color);
  color: var(--text-color);
  outline: none;
  min-height: 3rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:focus {
    border: 1px solid var(--border-focus-color);
  }
}

.contacts-error-label {
  font-size: 0.875rem;
  margin-top: -0.625rem;
  margin-bottom: 1rem;
  color: #f44336;
}

@include respond-above(md) {
  .contacts {
    flex-direction: row;
    column-gap: 5rem;
  }

  .contacts-form-row {
    font-size: 1rem;
  }
}
