<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up" style="flex-wrap: wrap;">
        <div class="experience-card-info" style="width: 30%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-info-title">Full-Stack Developer</h3>
          <span class="experience-card-info-date">Digiwagon Technologies | India</span>
          <span class="experience-card-info-date">Jan 2022 - Dec 2022</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details" style="width: 70%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p style="font-size: 1rem; margin-bottom: 0.7vw;">• Conducted thorough analysis of business requirements to design and implement software solutions that improved operational efficiency.
          </p>
          <p style="font-size: 1rem; margin-bottom: 0.7vw;" >• Provided agile software support, addressed bugs, and implemented new features in response to evolving requirements and defect fixes.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Utilized <b>React, Java and Spring Boot</b> to execute projects, enhancing application speed with a 20% improvement in query response times through <b>SQL Query optimization</b> and Database Indexing.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Developed and maintained RESTful APIs in Spring Boot, utilizing tools like Postman for <b>API Testing and Validation</b>, ensuring seamless communication between front-end and back-end systems.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Implemented advanced <b>Caching</b> strategies using Redis to improve application performance and scalability, resulting in a 25% reduction in average response time for cached data requests.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Collaborated with team in crafting efficient APIs and database structures, including the integration of multi-language receipt generation.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Collaborated with QA teams for rigorous testing, ensuring high-quality code delivery.
          </p>
          <p style="font-size: 1rem;">• Utilized <b>Jenkins </b>for CI/CD pipelines, automating build, test, and deployment process for efficient software delivery.</p>
        
          
        </div>
        
        <div class="experience-card-info" style="width: 30%; flex: none;">
          <h3 class="experience-card-info-title">Software Intern</h3>
          <span class="experience-card-info-date">Digiwagon Technologies | India</span>
          <span class="experience-card-info-date">Jan 2021 - Dec 2021</span>
          <div>
            <span class="experience-card-info-badge">Full-Time</span>
          </div>
        </div>
        <div class="experience-card-details" style="width: 70%; flex: none;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Designed and implemented a <b>Solo project</b>: An advanced Employee rating tool, enabling senior developers and HR to assess team performance, driving strategic decision-making for salary increments.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Resolved numerous frontend bugs in a React-based web application, <b>clearing over 40 Jira tickets</b>.
          </p>
          <p style="font-size: 1rem;margin-bottom: 0.7vw;">• Integrated <b>Third-party APIs and SDKs</b> to extend application functionality and leverage external services.
          </p>
          <p style="font-size: 1rem;">• Created user-friendly, responsive Front-end interfaces using React and Redux, leading to a 15% improvement in user satisfaction.
          </p>
          
        </div>
      </div>
      <!-- <div class="experience-card" appFade="up" [delay]="200">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Software Intern</h3>
          <span class="experience-card-info-date">Digiwagon Technologies | India</span>
          <span class="experience-card-info-date">Jan 2021 - Dec 2021</span>
          <div>
            <span class="experience-card-info-badge">Full-Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p>
            • Designed and implemented a Solo project: An advanced Employee rating tool, enabling senior developers and HR to assess team performance, driving strategic decision-making for salary increments.
            <br>• Resolved numerous frontend bugs in a React-based web application, clearing over 40 Jira tickets.
            <br>• Integrated third-party APIs and SDKs to extend application functionality and leverage external services.
            <br>• Created user-friendly, responsive Front-end interfaces using React and Redux, leading to a 15% improvement in user satisfaction.
          </p>
        </div>
      </div> -->
      
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          <span class="education-date">2023-2024</span>
          <h3 class="education-title">Master of Applied Computing</h3>
          <span class="education-institute">University of Windsor</span>
        </div>
        <div class="education-card">
          <span class="education-date">2018-2022</span>
          <h3 class="education-title">Bachelor in Computer Science</h3>
          <span class="education-institute">Gujarat Technological University</span>
        </div>
        
      </div>
      <div class="skill" appFade="up" [delay]="200">
        
        <div class="skill-card">
          
          <div class="skill-info">
            <h4 class="skill-title">Java</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">Python</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">C/C++</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          
          <div class="skill-info">
            <h4 class="skill-title">Spring Boot</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">React</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">Angular</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          
          <div class="skill-info">
            <h4 class="skill-title mysql">MySQL / NoSQL</h4>
            <h4 class="skill-title sql">SQL</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">Azure / AWS</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
          <div class="skill-info">
            <h4 class="skill-title">Docker</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-100"></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
