<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up" style="flex-wrap: wrap;">
        <!-- <div class="experience-card-info" style="width: 30%; flex: none;">
          <h3 class="experience-card-info-title">AI Full Stack Trainer</h3>
          <span class="experience-card-info-date">Outlier</span>
          <span class="experience-card-info-date">June 2024 - Present</span>
          <div>
            <span class="experience-card-info-badge">Remote - Contract</span>
          </div>
        </div> -->
        <!-- <div class="experience-card-details" style="width: 70%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p class="resume-p-tag" >•	Training AI models from leading tech companies on complex coding tasks, enhancing their accuracy and efficiency.</p>
          <p class="resume-p-tag" >•	Correcting model outputs in multiple technologies such as Java, Python and React ensuring high-quality results.</p>
          <p class="resume-p-tag" >•	Identifying and documenting errors, inconsistencies, or area of improvement in existing features.</p>
          
          
        </div> -->
        <div class="experience-card-info" style="width: 30%; flex: none;">
          <h3 class="experience-card-info-title">Software Developer </h3>
          <span class="experience-card-info-date">CGI</span>
          <span class="experience-card-info-date">June 2024 - Present</span>
          <div>
            <span class="experience-card-info-badge">Contract - Full Time</span>
          </div>
        </div>
        <div class="experience-card-details" style="width: 70%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p class="resume-p-tag" >•	Developed scalable back-end services using Java and Spring Boot, ensuring robust architecture for full-stack applications.</p>
          <p class="resume-p-tag" >•	Created responsive front-end interfaces with ReactJS and Angular, significantly improving user experience and engagement.</p>
          <p class="resume-p-tag" >•	Participated in Agile development processes, including daily stand-ups and sprint planning, to ensure timely project delivery.</p>
          <p class="resume-p-tag" >•	Automated testing and deployment pipelines using Jenkins, enhancing the CI/CD process and reducing time to production.</p>
          <p class="resume-p-tag" >•	Optimized complex SQL queries and PL/SQL procedures, improving data retrieval times and application performance.</p>
          <p class="resume-p-tag" >•	Integrated AWS services such as EC2, S3, and Lambda into applications for increased scalability and reliability.</p>
          <p class="resume-p-tag" >•	Built RESTful APIs for seamless data integration with third-party services, ensuring high data availability and security.</p>
          
          
        </div>
        <div class="experience-card-info" style="width: 30%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-info-title">Software Developer</h3>
          <span class="experience-card-info-date">Druva Software | India</span>
          <span class="experience-card-info-date">July 2020 - Nov 2022</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details" style="width: 70%; flex: none; margin-bottom: 2vw;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p class="resume-p-tag" >•	Designed and implemented software solutions aligned with client specifications and industry standards.</p>
          <p class="resume-p-tag" >•	Developed RESTful APIs using Spring Boot, facilitating efficient communication between various services.</p>
          <p class="resume-p-tag" >•	Created responsive web applications utilizing AngularJS, Bootstrap and React.js, enhancing front-end functionality.</p>
          <p class="resume-p-tag" >•	Wrote and optimized SQL queries to support backend functionality and reporting needs.</p>
          <p class="resume-p-tag" >•	Spearheaded the redesign of the build and deployment process, resulting in a 60% reduction in deployment time.</p>
          <p class="resume-p-tag" >•	Implemented security protocols using OAuth 2.0 and JWT, safeguarding user data and enhancing application security.</p>
          <p class="resume-p-tag" >•	Conducted thorough code reviews and testing, ensuring adherence to best practices and maintaining high code quality.</p>
          <p class="resume-p-tag" >•	Collaborated with product management and stakeholders to understand business requirements and translate them into technical solutions.</p>
          <p class="resume-p-tag" >•	Developed documentation for software features and processes to improve knowledge sharing within the team.</p>
          <p class="resume-p-tag" >•	Actively participated in team training sessions to stay updated with the latest technologies and methodologies. </p>
         
          
        </div>
        
        <!-- <div class="experience-card-info" style="width: 30%; flex: none;">
          <h3 class="experience-card-info-title">Software Intern</h3>
          <span class="experience-card-info-date">Digiwagon Technologies | India</span>
          <span class="experience-card-info-date">Jan 2021 - Dec 2021</span>
          <div>
            <span class="experience-card-info-badge">Full-Time</span>
          </div>
        </div> -->
        <!-- <div class="experience-card-details" style="width: 70%; flex: none;">
          <h3 class="experience-card-details-title">Role and Responsibilities</h3>
          <p class="resume-p-tag">•	Extensively utilized Java 8 features such as Lambda expressions, Method references, Stream API, Supplier, Consumer etc. with core Java concepts of Multi-Threading, Exception Handling and Collections.</p>
         
          
          
        </div> -->
      </div>
     
      
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          
          <h3 class="education-title">Master of Applied Computing</h3>
          <span class="education-institute">University of Windsor</span><br>
          <span class="education-date">2023-2024</span>
        </div>
        <div class="education-card">
          
          <h3 class="education-title">Bachelor in Computer Science</h3>
          <span class="education-institute">Gujarat Technological University</span><br>
          <span class="education-date">2018-2022</span>
        </div>
        
      </div>
      <div class="skill" appFade="up" [delay]="200"> 
        
        <div class="grid">
          <div class="skill-card">
          
            <div class="skill-info">
              <img ngSrc="assets/img/java.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Java</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/python.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Python</h4>
              </div>
            <div class="skill-info">
              <img ngSrc="assets/img/c.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">C/C++</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/linux-22615.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Linux</h4>
            </div>
          </div> 
          <div class="skill-card">
          
            <div class="skill-info">
              <img ngSrc="assets/img/spring-boot-logo.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Spring Boot</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/React_Logo_.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">React</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/Angular_logo.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Angular</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/Docker_logo.webp" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Docker</h4>
            </div>
          </div>
          <div class="skill-card">
            <div class="skill-info">
              <img ngSrc="assets/img/Mongodb.png"  alt="Logo" width="50" height="80" priority>
            <h4 class="skill-title">NoSQL</h4>
            <!-- <h4 class="skill-title sql">SQL</h4> -->
          </div>
            <div class="skill-info">
              <img ngSrc="assets/img/mysql.png"  alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">MySQL</h4>
            </div>
             
            <div class="skill-info">
              <img ngSrc="assets/img/azure.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">Azure</h4>
            </div>
            <div class="skill-info">
              <img ngSrc="assets/img/aws-logo.png" alt="Logo" width="50" height="80" priority>
              <h4 class="skill-title">AWS</h4>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <hr>
    <h2>Certifications</h2>
    <div class="education" appFade="up">
      <div class="education-card">
        
        <h3 class="education-title certificate-title">Microsoft Azure Fundamentals | <a href="https://learn.microsoft.com/en-us/users/PathikPatel-2252/credentials/790E19502315D8EF?ref=https%3A%2F%2Fwww.linkedin.com%2F" style="font-weight: 100; color: #334155;">Credential URL</a></h3>
        
       

      </div>
      <div class="education-card">
        
        <h3 class="education-title certificate-title">Kafka Essential Training | <a href="https://www.linkedin.com/learning/certificates/d898f74fa036d6319e4a176c839159dc73160805ccec7c191d4cec9b82ec8e9d" style="font-weight: 100; color: #334155;">Credential URL</a></h3>
        

      </div>
      <div class="education-card">
        
        <h3 class="education-title certificate-title">Spring: Test Driven Development with Junit | <a href="https://www.linkedin.com/learning/certificates/552fa3e00006e0d49441742c73029d7fec020e1dd5216ede65deb8ea90e18d0b?u=56973065" style="font-weight: 100; color: #334155;">Credential URL</a></h3>
        

      </div>
      
    </div>
  </div>
</section>
